## Python Practice 2

## Numbers

### Question 1

In [1]:
# Insert the correct syntax to convert x into a floating point number.
x = 5

In [3]:
x

5

In [5]:
type(x)

int

In [7]:
y = 5.5

In [8]:
type(y)

float

In [19]:
x.denominator

1

In [20]:
y

'0x1.6000000000000p+2'

## Lists

### Question 2

In [23]:
# Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]

In [25]:
fruits

['apple', 'banana', 'cherry']

In [27]:
type(fruits)

list

In [29]:
fruits[1]

'banana'

### Question 3

In [35]:
# Change the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]

In [37]:
fruits[0] = 'kiwi'

In [39]:
fruits

['kiwi', 'banana', 'cherry']

#### This is a disclaimer, this works on lists, not on strings

In [31]:
string_example = "Apples"

In [34]:
string_example[0] = 'S'

TypeError: 'str' object does not support item assignment

### Question 4

In [48]:
# Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]

In [42]:
fruits

['apple', 'banana', 'cherry']

In [43]:
fruits.append("Oranges")

In [44]:
fruits

['apple', 'banana', 'cherry', 'Oranges']

In [45]:
fruits.

In [49]:
fruits

['apple', 'banana', 'cherry']

### Python data copying

In [71]:
a = [1,2,3]

In [72]:
a

[1, 2, 3]

In [73]:
b = a

In [74]:
a

[1, 2, 3]

In [75]:
b

[1, 2, 3]

In [76]:
b[0] = 10

In [78]:
b

[10, 2, 3]

#### Now, what does a look like.

In [79]:
a

[10, 2, 3]

In [87]:
a = [1,2,3]

#### If you do not want that

In [88]:
b = a.copy()

In [89]:
a

[1, 2, 3]

In [90]:
b

[1, 2, 3]

In [91]:
a[0]

1

In [92]:
a[0] = 10

In [93]:
a

[10, 2, 3]

In [94]:
b

[1, 2, 3]

----

In [100]:
a = [1,2,3]

In [101]:
a

[1, 2, 3]

In [102]:
a.reverse()

In [103]:
a

[3, 2, 1]

In [104]:
a = [2,10,5]

In [108]:
a.sort(reverse=True)

In [109]:
a

[10, 5, 2]

### Tuples

In [110]:
fruits = ["apple", "banana", "cherry"]
tup_fruits = ("apple", "banana", "cherry")

In [118]:
fruits[0] = 'kiwi'

In [120]:
tup_fruits[0] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

In [125]:
fruits[2]

'cherry'

### Sets

### Question 5

In [170]:
# Use the add method to add "orange" to the fruits set.
fruits = {"apple", "banana", "cherry"}

In [169]:
fruits.add('orange')

In [134]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [135]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [133]:
fruits_copy = fruits.copy()

In [136]:
fruits_copy

{'apple', 'banana', 'cherry', 'orange'}

In [139]:
fruits.add('Grapes')

In [141]:
fruits

{'Grapes', 'apple', 'banana', 'cherry', 'orange'}

In [142]:
fruits_copy

{'apple', 'banana', 'cherry', 'orange'}

### Question 6

In [162]:
# Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [163]:
fruits.update(more_fruits)

In [165]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Dictionaries

### Question 7

In [181]:
# Use the get method to print the value of the "model" key of the car dictionary.
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [182]:
type(car)

dict

In [186]:
car.get('model')

'Mustang'

In [190]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [192]:
car.pop('brand')

'Ford'

In [193]:
car

{'model': 'Mustang', 'year': 1964}

In [194]:
car.update

{'model': 'Mustang', 'year': 1964}

In [195]:
?car.update

In [196]:
car.keys()

dict_keys(['model', 'year'])

In [198]:
car.values()

dict_values(['Mustang', 1964])

In [199]:
car.update({"model":"Maruti"})

In [200]:
car

{'model': 'Maruti', 'year': 1964}

### Question 8

In [201]:
# Use the pop method to remove "model" from the car dictionary.
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [203]:
car.pop("model")

'Mustang'

In [205]:
car

{'brand': 'Ford', 'year': 1964}

#### How to add item:value pairs to a dictionary

In [209]:
car['year'] = 1990

In [211]:
car

{'brand': 'Ford', 'year': 1990}

#### Value assignment is possible in dictionaries

In [215]:
car['month']

KeyError: 'month'

In [213]:
car['color'] = 'blue'

In [231]:
car

{'brand': 'Ford', 'year': 1990, 'color': 'blue', 'name': 'hero'}

#### Approach 2

In [229]:
car.update({'name':'hero'})

In [230]:
car

{'brand': 'Ford', 'year': 1990, 'color': 'blue', 'name': 'hero'}

### Conditions

### Question 9

In [ ]:
# Print "Hello World" if a is greater than b.
a = 50
b = 10

In [233]:
if a > b:
    print("Hello World")

Hello World

### Question 10

In [235]:
# Print "Yes" if a is equal to b, otherwise print "No".
a = 50
b = 10

In [236]:
if a == b:
    print('Yes')
else:
    print('No')

No

### Question 11

In [241]:
# Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".
a = 50
b = 10

In [242]:
if a == b:
    print('1')
elif a>b:
    print('2')
else:
    print('3')

2

### Question 12

In [248]:
# Print "Hello" if a is equal to b, or if c is equal to d.
a = 50
b = 10
c = 20
d = 20

In [249]:
if a == b or c == d:
    print('Hello')
else:
    print('Condition not met')

Hello

## For Loops

### Question 13

In [250]:
# Loop through the items in the fruits list.
fruits = ["apple", "banana", "cherry"]

In [254]:
for i in fruits:
    print(i + ' something')

apple something
banana something
cherry something

In [255]:
name = 'Siddharth'

In [258]:
for i in name:
    print(i + ' This is the value of i')

S This is the value of i
i This is the value of i
d This is the value of i
d This is the value of i
h This is the value of i
a This is the value of i
r This is the value of i
t This is the value of i
h This is the value of i

### Question 14

In [273]:
# Use the range function to loop through a code set 6 times.
for i in range(6):
    print(i)

0
1
2
3
4
5

### Question 15

In [288]:
# Exit the loop when x is "banana".
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == 'banana':
        print('banana found')
        break
    else:
        print('banana not found')

apple
banana not found
banana
banana found

### While Loops

### Question 17

In [306]:
# Stop the loop if i is 3.
i = 1
while i < 5:
    print('I is not equal to 3')
    if i == 3:
        break
    i += 1

I is not equal to 3
I is not equal to 3
I is not equal to 3

In [308]:
# The logic
i = 0
while i < 10:
    print('still looping')
    i += 1

still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping

In [300]:
a = 10
for i in range(10):
    print('The loop number is ' + str(i))
    a -= 1
    print('The value of a now is ' + str(a))

The loop number is 0
The value of a now is 9
The loop number is 1
The value of a now is 8
The loop number is 2
The value of a now is 7
The loop number is 3
The value of a now is 6
The loop number is 4
The value of a now is 5
The loop number is 5
The value of a now is 4
The loop number is 6
The value of a now is 3
The loop number is 7
The value of a now is 2
The loop number is 8
The value of a now is 1
The loop number is 9
The value of a now is 0

In [291]:
a

11

## Functions

In [ ]:
# Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, 
# add spaces between names

In [340]:
def adding_names(fname, lname):
    full_name = fname + " " + lname
    print(full_name)

In [341]:
adding_names('Sid','Kot')

Sid Kot

In [342]:
adding_names('Spoorti','Sha')

Spoorti Sha

In [343]:
a = adding_names('Sid','Kot')

Sid Kot

In [344]:
a

In [345]:
type(a)

NoneType

#### What is the difference between printing and returning ? 
![Thinking](https://media3.giphy.com/media/lKXEBR8m1jWso/giphy.gif?cid=ecf05e478ayulrsqvnbc1lg5upups1iknrm0ncrnf5bgtq62&rid=giphy.gif&ct=g)

In [346]:
def adding_names(fname, lname):
    full_name = fname + " " + lname
    return full_name

In [347]:
a = adding_names('Sid','Kot')

In [348]:
a

'Sid Kot'

In [349]:
type(a)

str

In [350]:
fruits = ["apple","banana","Cherry"]
for i in fruits:
    if i == "banana":
        print("Found")
        break
    else:
        print("Banana not found")

Banana not found
Found