In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

1. How many movies directed by Hayao Miyazaki the meta score of which lies between 85 and 100 have occupied this list?

In [3]:
hay_df = df[(df["Director"]=="Hayao Miyazaki") & (df["Meta_score"]).between(85,100)]
hay_df.shape[0]

4

2. What is the average rating of movies that have been PG-13 certified?

In [4]:
pg13 = df[df["Certificate"]=="PG-13"]
pg13.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
18,https://m.media-amazon.com/images/M/MV5BNjViNW...,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN
89,https://m.media-amazon.com/images/M/MV5BN2JmMj...,Jodaeiye Nader az Simin,2011,PG-13,123 min,Drama,8.3,A married couple are faced with a difficult de...,95.0,Asghar Farhadi,Payman Maadi,Leila Hatami,Sareh Bayat,Shahab Hosseini,220002,"7,098,492"
227,https://m.media-amazon.com/images/M/MV5BMTUzOT...,Okuribito,2008,PG-13,130 min,"Drama, Music",8.1,A newly unemployed cellist takes a job prepari...,68.0,Yôjirô Takita,Masahiro Motoki,Ryôko Hirosue,Tsutomu Yamazaki,Kazuko Yoshiyuki,48582,"1,498,210"
235,https://m.media-amazon.com/images/M/MV5BZGJjYm...,Hotel Rwanda,2004,PG-13,121 min,"Biography, Drama, History",8.1,"Paul Rusesabagina, a hotel manager, houses ove...",79.0,Terry George,Don Cheadle,Sophie Okonedo,Joaquin Phoenix,Xolani Mali,334320,"23,530,892"
358,https://m.media-amazon.com/images/M/MV5BMGRkZT...,Persepolis,2007,PG-13,96 min,"Animation, Biography, Drama",8.0,A precocious and outspoken Iranian girl grows ...,90.0,Vincent Paronnaud,Marjane Satrapi,Chiara Mastroianni,Catherine Deneuve,Gena Rowlands,88656,"4,445,756"

In [5]:
pg13["IMDB_Rating"].mean()

7.797674418604656

3. Create a pivot table citing the median scores of A certified movies released post 2015.

In [6]:
a_cert = df[(df["Certificate"]=="A") & (df["Released_Year"]>"2015")]
a_cert.shape

(15, 16)

In [7]:
a_cert.pivot_table(index=["Certificate"], columns=["Released_Year"], values=["Meta_score"], aggfunc="median")

              Meta_score
Released_Year       2016  2017  2018  2019
Certificate
A                   84.0  88.0  84.0  68.0

4. Determine the least rating given for Francis Ford Coppola movies.

In [8]:
coppola_mov = df[df["Director"]=="Francis Ford Coppola"]
min(coppola_mov["IMDB_Rating"])

7.6

5. How many movies with actors Al Pacino and Robert De Niro as the first and second leads are present in the data?

In [9]:
df2 = df[(df["Star1"]=="Al Pacino") & (df["Star2"]=="Robert De Niro")]
df2.shape[0]

2